
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/main/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
    <script src= "{% static "main/scripts.js"  %}"></script> 
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logotip.png' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
    <title>Контакты</title>
</head>
<body>
    <header id="5">
        <div class="left-part-menu">
            <a href="/" class="full_logitip"><img class="logotip"  src="{% static "img/logotip.png" %}">
            <span>ARTGALLERY</span></a>
            <ul>
                <a href="{% url 'autors' %}">Авторы</a>
                <a href="{% url 'work_category' %}">Работы</a>
                <a href="{% url 'popular' %}">Популярное</a>
                <a href="{% url 'contacts' %}">Контакты</a>  
         </ul>       
        </div>

        <div class="right-part-menu">
            <div class="user-info">
                    {% if user.is_authenticated %}
                        <div class="avatarka_header" >
                            {% if user.image %}
                                <img src="{{ user.image.url}}" alt="gg" width="50px"> 
                            {% else %}
                                <img src="{% static "img/emptyuserimage.jpg" %}"  class="usericon">
                            {% endif %}
                        </div>
                    {% else %}
                        <button  type="submit" onclick="LoginButt()">ВОЙТИ</button>
                    {% endif %}    
            </div>  
            {% if user.is_authenticated %}
            <div class="user-info_block" >
                <div class="user-info_block-first_1">
                    <div class="avatarka-profile-info">
                        {% if user.image %}
                            <img src="{{ user.image.url}}" alt="gg" width="50px"> 
                        {% else %}
                            <img src="{% static "img/emptyuserimage.jpg" %}"  class="usericon">
                        {% endif %}
                    </div>
                    <div class = "user-info_block_info">
                        <span>{{ user.name }}</span>
                        <span>{{ user.email }}</span>
                    </div>
                </div>
                <div class="user-info_block-first_2">
                    <ul>
                        <li><a href="{% url 'profile' user.pk   %}">Профиль</a></li>
                        <li><a href="{% url 'profile_option' user.pk %}">Настройки</a></li>
                    </ul>      
                </div>
                <div class="user-info_block-first_3">
                    <span><a href="{% url 'logout' %}">Выйти</a></span>
                </div>                    
            </div>   
            {% else %}   
            
            
            {% endif %}  
        </div> 
        
    </header>
    <section  class="contact-container">
        
        
        <div class="contact">
            <div class="contacts_info">
            <h1 class="head-title">Контакты</h1>
                <p>Данный сайт является дипломным проектом студента ТГКСТ Бондарева Александра Игоревича. Не является комерческим продуктом, и не направлен на получение прибыли .</p>
                <span>Email</span>
                <a href="">pernens@mail.ru</a>
                <br>
                <span>Телефон</span>
                <a href="">8(953)443-54-36</a>
            </div>
            <div class="contacts_form">
                <form   method='POST' >
                    {% csrf_token %}
                    <div class="contact_form_top">
                        <div class="contact_form_item ">
                            <label for="fullname">Имя</label>
                            <input class="form-input" type="text" name="name" placeholder=""/> 
                        </div>
                        <div class="contact_form_item">
                            <label for="username">Email</label>
                            <input type="email" name="email" class="form-input" >
                        </div>
                    </div>
                    <div class="contact_form_item">
                        <label for="message" >Сообщение</label>
                        <textarea placeholder="Поле доступно только для чтения" name="message"  cols="10" rows="5" class="form-input" > </textarea>
                    </div>
                    <input class="btn-send" type="submit" value="ОТПРВИТЬ" >
                </form>
                
            </div>
        </div>
        
        

   </section>
    
</body>
</html>
