<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/profiles/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
    <script src= "{% static "main/scripts.js"  %}" defer></script> 
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logotip.png' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css">
    <title>{{ user.name }}</title>
</head>
<body>
    <header id="5">
        <div class="left-part-menu">
            <a href="/" class="full_logitip"><img class="logotip"  src="{% static "img/logotip.png" %}">
            <span>ARTGALLERY</span></a>
            <ul>
                <a href="{% url 'autors' %}">Авторы</a>
                <a href="{% url 'work_category' %}">Работы</a>
                <a href="{% url 'popular' %}">Популярное</a>
                <a href="{% url 'contacts' %}">Контакты</a>  
         </ul>       
        </div>

        <div class="right-part-menu">
            <div class="user-info">
                    {% if user.is_authenticated %}
                        <div class="avatarka_header" >
                            {% if user.image %}
                                <img src="{{ user.image.url}}" alt="gg" width="50px"> 
                            {% else %}
                                <img src="{% static "img/emptyuserimage.jpg" %}"  class="usericon">
                            {% endif %}
                        </div>
                    {% else %}
                        <button  type="submit" onclick="LoginButt()">ВОЙТИ</button>
                    {% endif %}    
            </div>  
            {% if user.is_authenticated %}
            <div class="user-info_block" >
                <div class="user-info_block-first_1">
                    <div class="avatarka-profile-info">
                        {% if user.image %}
                            <img src="{{ user.image.url}}" alt="gg" width="50px"> 
                        {% else %}
                            <img src="{% static "img/emptyuserimage.jpg" %}"  class="usericon">
                        {% endif %}
                    </div>
                    <div class = "user-info_block_info">
                        <span>{{ user.name }}</span>
                        <span>{{ user.email }}</span>
                    </div>
                </div>
                <div class="user-info_block-first_2">
                    <ul>
                        <li><a href="{% url 'profile' user.pk   %}">Профиль</a></li>
                        <li><a href="{% url 'profile_option' user.pk %}">Настройки</a></li>
                    </ul>      
                </div>
                <div class="user-info_block-first_3">
                    <span><a href="{% url 'logout' %}">Выйти</a></span>
                </div>                    
            </div>   
            {% else %}   
            
            
            {% endif %}  
        </div> 
        
    </header>
    <section>
        <div class="profile-background_block">  
            <img src="{{ user.background_image.url}}" >
        </div>
        <div class="profile-info_block" id="55">
            <ul>
                <li>
                    <div class="avatarka">
                        {% if user.image %}
                            <img src="{{ user.image.url}}" > 
                        {% else %}
                            <img src="{% static "img/emptyuserimage.jpg" %}"  width="100px">
                        {% endif %}
                    </div>

                    <div id="alert-box"></div>
                    <form enctype="multipart/form-data" method="POST" id="image-form" action="" >
                        {% csrf_token %}
                        <label for="upload_img">
                            <div class="upload-avatar">
                                <a class="fa fa-plus" aria-hidden="true" ></a> 
                            </div>
                        </label>
                        <input type="file" name="image" class="form-styling hide_input_image" id="upload_img" > 
                    </form>                     
                    <div class="modal_avatar mb-3" id="jojo" >
                        <div>
                            <div class="image-box" id="image-box">
                            </div>
                            <a href="#closeModalWin" title="Закрыть" class="closeModalWin" onclick="closeModalWin()">X</a>
                            <button class="btn btn-primary mt-3 not-visible" id="confirm-btn">Подтвердить</button>
                        </div>
                    </div>
                </li>
                <li><span>{{ user.name }}</span></li>
                <li><span>{{ user.email }}</span></li>
                <li><a class="profile_profileopt_btn" href="{% url 'profile_option' user.pk %}">Редактировать профиль</a></li>
                <li><button type="submit"  onclick = "CreteProject()">Создать проект</button></li>
                <li><span class="date-registr">Дата регистрации {{ user.date_joined }}</span></li>  
            </ul>           
        </div>
    </section>
    <button  id="All_work_profile" class=" jj profile_butt_works"  type="submit" onclick = "All_work_profile()">ПРОФИЛЬ</button>
    <button id="Like_work_profile" class="profile_butt_works" type="submit" onclick = "Like_work_profile()">ПОНРАВИВШИЕСЯ</button>
    <section class="sectioncommon" id="list_common">
        <div class="catalog-list profile_list">
            {% for Works in Works %}
                <a class="another-profile_item" href="{% url 'workpage' Works.id %}">
                    <div class="item">
                        {% if Works.category == "Photoshop art" %}
                            <div class="category-icon_psart">
                                <span>Ps</span>
                            </div>
                        {% elif  Works.category == "Product design"%}
                            <div class="category-icon_pd">
                                <span>Pd</span>
                            </div>
                        {% elif  Works.category == "UI"%}
                            <div class="category-icon_UI">
                                <span>UI</span>
                            </div>
                        {% elif  Works.category == "Illustrator art"%}
                            <div class="category-icon_Ill">
                                <span>Ai</span>
                            </div>
                        {% elif  Works.category == "Photo"%}
                            <div class="category-icon_photo">
                                <span>Ph</span>
                            </div>
                        {% elif  Works.category == "Landing page"%}
                            <div class="category-icon_lp">
                                <span>LP</span>
                            </div>
                        {% endif %}
                        <span class="hide_title"> {{Works.title}}</span>
                        <div class="image_profile">
                            <img src="{{ Works.photo.url }}"  loading="lazy">
                        </div>
                        <i class=" gg far fa-thumbs-up"><span class="count-likes"></span>{{ Works.total_likes }}</i>
                        
                    </div>
                </a>
            {% endfor %}   
        </div>
    </section>


    <section class="sectionlike" id="list_like">
        <div class="catalog-list profile_list">
            {% for Works in Like %}
                <a class="another-profile_item" href="{% url 'workpage' Works.id %}">
                    <div class="item">
                        {% if Works.category == "Photoshop art" %}
                            <div class="category-icon_psart">
                                <span>Ps</span>
                            </div>
                        {% elif  Works.category == "Product design"%}
                            <div class="category-icon_pd">
                                <span>Pd</span>
                            </div>
                        {% elif  Works.category == "UI"%}
                            <div class="category-icon_UI">
                                <span>UI</span>
                            </div>
                        {% elif  Works.category == "Illustrator art"%}
                            <div class="category-icon_Ill">
                                <span>Ai</span>
                            </div>
                        {% elif  Works.category == "Photo"%}
                            <div class="category-icon_photo">
                                <span>Ph</span>
                            </div>
                        {% elif  Works.category == "Landing page"%}
                            <div class="category-icon_lp">
                                <span>LP</span>
                            </div>
                        {% endif %}
                        <span class="hide_title"> {{Works.title}}</span>
                        
                        <img src="{{ Works.photo.url }}"  loading="lazy">
                        <div class="item-info">
                            <div class="username">
                                    {% if Works.autor.image %}
                                        <img class= "work-autor-avatar" src="{{ Works.autor.image.url}}" alt="gg"> 
                                    {% else %}
                                        <img src="{% static "img/emptyuserimage.jpg" %}" class= "work-autor-avatar" >
                                    {% endif %}
                                    <span class="name">
                                        {{Works.autor.name}}
                                        <div class="hover-profile">
                                            <div class="username">
                                                <i class="fas fa-user"></i>
                                                <div class="username_name-city">
                                                    <span class="name-hover"> {{Works.autor}}</span>
                                                </div>
                                            </div>
                                            {% if user.id == Works.autor_id %}
                                                <button class="submit-btn" href="{% url 'profile'  user.pk %}">Перейти</button>
                                            {%else%}
                                                <button class="submit-btn" href="{% url 'anotherautorpage' Works.autor_id %}">Перейти</button>
                                            {%endif%}
                                        </div>
                                    </span>

                            </div>
                            <div class="stats">
                                <div class="likes">
                                    <i class="far fa-thumbs-up"><span class="count-likes">{{ Works.total_likes }}</span></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}   
        </div>
    </section>
    
</body>
</html>

