
section{
    height: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 70px;
    width: 65.7%;
    margin: 0 auto;
    box-shadow: 0px 0px 25px 14px rgba(34, 60, 80, 0.2);
}

.top-info{
    margin-left: 4%;
    font-size: 20pt;


}



.option label{
    margin-left: 10%;
    font-size: 14pt;

}

.option input{
    margin-left: 5%;
    font-size: 14pt;
    margin: 0 auto;
    width: 80%;
    font-family: 'Playfair Display', serif;
    border: 1px solid #c70202;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
}



.login-change{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.password-change{
    width: 40%;
    display: flex;
    flex-direction: column;
}



.btn-signin{
    margin-left: 50%;
    transition: 0.4s;
}

.btn-signin:hover{
    color: rgb(255, 255, 255);
    background: #c70202;
    transition: 0.4s;
}

hr{
    border: 1px solid #c70202;
    margin-left: 4%;
    margin-right: 4%;
}

.gghh{
    display: none;
}


.numberschet:focus .gghh{
    display: block;
}



section{
    height: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 70px;
    width: 65.7%;
    margin: 0 auto;
    box-shadow: 0px 0px 25px 14px rgba(34, 60, 80, 0.2);
}

.top-info{
    margin-left: 4%;
    font-size: 20pt;


}



.option label{
    margin-left: 10%;
    font-size: 14pt;

}

.option input{
    margin-left: 5%;
    font-size: 14pt;
    margin: 0 auto;
    width: 80%;
    font-family: 'Playfair Display', serif;
    border: 1px solid #c70202;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
}



.login-change{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.password-change{
    width: 40%;
    display: flex;
    flex-direction: column;
}



.btn-signin{
    margin-left: 50%;
    transition: 0.4s;
}

.btn-signin:hover{
    color: rgb(255, 255, 255);
    background: #c70202;
    transition: 0.4s;
}

hr{
    border: 1px solid #c70202;
    margin-left: 4%;
    margin-right: 4%;
}

.gghh{
    display: none;
}


.numberschet:focus .gghh{
    display: block;
}
